{% extends 'base/index.html' %}
{% load static %}
<!DOCTYPE html>

{% block extrastyles %}
    <html lang="fa-ir" dir="rtl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index/sign-in/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'index/sign-in/img/XzItM.png' %}" type="image/x-icon" />
{% endblock extrastyles %}
{% block title %}
تست شخصیت | ورود
{% endblock title %}
{% block content %}
<body>
    {% if user.is_superuser %}
    <div class="btns-div">
        <button class="btn" onclick="location.href='{% url 'admin:index' %}'">ادمین</button>
        <button class="btn" onclick="location.href='{% url 'core:dashboard' %}'">داشبورد</button>
    </div>
    {% endif %}
    <div class="conteiner">
        <form method="post">
            {% csrf_token %}
            <p>کد خود را وارد کنید</p>
            <input type="text" placeholder="کد شما" required name="name" />
            <div class="error-form">
                {% if form.name.errors %} <br />
                {% for error in form.name.errors %}<br />
                <span>{{ error }}</span> <br />
                {% endfor %}<br />
                {% endif %}<br />
            </div>
            <button type="submit">مشاهده سوالات</button>
        </form>
        <div class="blur-form"></div>
        </div>
</body>
{% endblock content %}