{% load static %}
<!DOCTYPE html>
<html lang="fa-ir" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index/sign-in/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'index/sign-in/img/XzItM.png' %}" type="image/x-icon" />
    <title>ورود</title>
</head>

<body>
    <div class="conteiner">
        <form method="post">
            {% csrf_token %}
            <p>لطفا اسم خود را وارد کنید</p>
            <input type="text" placeholder="اسم شما" required name="name" />
            <div class="error-form">
                {% if form.name.errors %} <br />
                {% for error in form.name.errors %}<br />
                <span>{{ error }}</span> <br />
                {% endfor %}<br />
                {% endif %}<br />
            </div>
            <button type="submit">مشاهده سوالات</button>
        </form>
        <div class="blur-form"></div>
    </div>
</body>

</html>