{% extends 'base/dashboard.html' %}
{% block title %}
صفحه اصلی
{% endblock title %}
{% block head %}
لیست شرکت کنندگان
{% endblock head %}
{% block main %}
<div class="row">
    <!-- ./col -->
    <div class="col-lg-12 col-24">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{ examinees|length }}</h3>
                <p>مجموع تعداد شرکت کنندگان</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a href="{% url 'core:add_user' %}" class="small-box-footer">
                اضافه کردن شرکت کننده <i class="fas fa-user-plus"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <form method="get">
                            <input type="text" name="query" class="form-control float-right"
                                placeholder="جستجو در بین شرکت کنندگان">
                        </form>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 35pc;">
                <table class="table table-head-fixed">
                    <thead>
                        <tr>
                            <th>آیدی شرکت کننده</th>
                            <th>نام شرکت کننده</th>
                            <th>تاریخ ثبت نام</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for examinee in examinees %}
                        <tr>
                            <th><a href="{% url 'core:user_info' examinee.id %}">{{ examinee.id }}</a></th>
                            <th><a href="{% url 'core:user_info' examinee.id %}">{{ examinee.name }}</a></th>
                            <th>{{ examinee.date }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
{% endblock main %}